/*'---------------------------------------------------------------------------------------------------------------------------------
' Nombre:		Tabla
' Autor:		Carlos Valladolid
' Fecha:		11-Diciembre-2013
'
' Descripción:	Hoja de estilos para las tablas de la aplicación
'----------------------------------------------------------------------------------------------------------------------------------*/

.GeneralTable
{
	border-spacing: 5px;
	color:#4B4878;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:11px;
	font-weight:bold;
	padding: 5px;
	vertical-align: top;
}

.GeneralTable .Boton
{
	text-align: left;
}

.GeneralTable .Control
{
	text-align: left;
	width: 115px;
}

.GeneralTable .Espacio
{
	width: 15px;
}

.GeneralTable .Nombre
{
	text-align: left;
	vertical-align: top;
	width: 130px;
}

