<connectionStrings>
	<add name="Application.DBCnn" connectionString="server=Zeus2.Integracorp.com; initial catalog=SafeTransferDB; User=sa; password=impexetren"/>
  <add name="Conn" connectionString="Database=SafeTransferDB; Server=Zeus2.Integracorp.com; User=sa; Password=impexetren;" providerName="System.Data.SqlClient"/>
</connectionStrings>
